Source: ledgersmb-1.5
Section: web
Priority: optional
Maintainer: LedgerSMB Core Team <devel@lists.ledgersmb.org>
Uploaders: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 9.20160709), po-debconf
Standards-Version: 3.9.8
Homepage: http://www.ledgersmb.org/
Vcs-Git: https://github.com/ledgersmb/pkg-ledgersmb-1.x.git -b master-1.5
Vcs-Browser: https://github.com/ledgersmb/pkg-ledgersmb-1.x

Package: ledgersmb-1.5
Architecture: all
Depends: adduser,
         libcarp-always-perl,
         libcgi-emulate-psgi-perl,
         libcgi-simple-perl,
         libclass-c3-xs-perl,
         libconfig-inifiles-perl,
         libdatetime-format-strptime-perl,
         libdatetime-perl,
         libdbd-pg-perl,
         libdbi-perl,
         libfile-mimeinfo-perl,
         libhttp-exception-perl,
         libjson-perl,
         liblocale-maketext-lexicon-perl (>= 0.62-1),
         liblog-log4perl-perl,
         libmime-lite-perl,
         libmoose-perl,
         libmoosex-nonmoose-perl,
         libnamespace-autoclean-perl,
         libnumber-format-perl,
         libpgobject-perl (>= 1.403.2-1),
         libpgobject-simple-perl (>= 3.000002-1),
         libpgobject-simple-role-perl (>= 2.000000-1),
         libpgobject-type-bigfloat-perl,
         libpgobject-type-bytestring-perl (>= 1.1.1-1),
         libpgobject-type-datetime-perl,
         libpgobject-util-dbmethod-perl,
         libpgobject-util-dbadmin-perl,
         libplack-perl,
         libplack-builder-conditionals-perl,
         libtemplate-perl (>=2.14-1),
         libtry-tiny-perl,
         libxml-simple-perl,
         perl (>= 5.10.1-1),
         postgresql-client,
         postgresql-contrib,
         starman,
         ucf,
         ${misc:Depends},
         ${perl:Depends}
Recommends: libjson-xs-perl,
            liblatex-driver-perl (>= 0.300.2),
            libmath-bigint-gmp-perl,
            libtemplate-plugin-latex-perl (>=3.09-1),
            libtex-encode-perl,
            texlive-latex-recommended
Suggests: ledgersmb-1.5-nginx | ledgersmb-1.5-lighttpd | ledgersmb-1.5-apache |
          ledgersmb-1.5-varnish,
          default-mta | mail-transport-agent,
          latex-cjk-all,
          libimage-size-perl,
          libopenoffice-oodoc-perl,
          libx12-parser-perl,
          lpr,
          postgresql,
          texlive-xetex
Description: financial accounting and ERP program (Perl/SQL backend)
 LedgerSMB is a full featured double-entry financial accounting and Enterprise
 Resource Planning system accessed via a web browser (Perl/SQL backend) which
 offers "Accounts Receivable", "Accounts Payable" and "General Ledger" tracking
 as well as inventory control and fixed assets handling. The LedgerSMB client
 can be a web browser or a programmed API call. The goal of the LedgerSMB
 project is to bring high quality ERP and accounting capabilities to Small
 and Midsize Businesses.
 .
 The application now defaults to being made available on port 5762 and being
 run directly by Starman instead of by Apache. If other access is needed, a
 Reverse Proxy can be configured locally using Apache, Lighttpd, Nginx, or
 Varnish and using the appropriate dependency packages to select which. For more
 information, please see also /usr/share/doc/ledgersmb-1.5/README.Debian.

Package: ledgersmb-1.5-apache
Architecture: all
Depends: ledgersmb-1.5,
         apache2,
         ucf,
         ${misc:Depends}
Enhances: ledgersmb-1.5
Description: financial accounting and ERP program - web proxy via Apache
 LedgerSMB is a full featured double-entry financial accounting and Enterprise
 Resource Planning system accessed via a web browser (Perl/SQL backend) which
 offers "Accounts Receivable", "Accounts Payable" and "General Ledger" tracking
 as well as inventory control and fixed assets handling. The LedgerSMB client
 can be a web browser or a programmed API call. The goal of the LedgerSMB
 project is to bring high quality ERP and accounting capabilities to Small
 and Midsize Businesses.
 .
 The application now defaults to being made available on port 5762 and being
 run directly by Starman instead of by Apache. If other access is needed, a
 Reverse Proxy can still be configured locally, and this dependency package
 provides a local proxy configuration using Apache.

Package: ledgersmb-1.5-nginx
Architecture: all
Depends: ledgersmb-1.5 (= ${binary:Version}),
         nginx-light | nginx-full | nginx-extra,
         ucf,
         ${misc:Depends}
Enhances: ledgersmb-1.5
Description: financial accounting and ERP program - web proxy via Nginx
 LedgerSMB is a full featured double-entry financial accounting and Enterprise
 Resource Planning system accessed via a web browser (Perl/SQL backend) which
 offers "Accounts Receivable", "Accounts Payable" and "General Ledger" tracking
 as well as inventory control and fixed assets handling. The LedgerSMB client
 can be a web browser or a programmed API call. The goal of the LedgerSMB
 project is to bring high quality ERP and accounting capabilities to Small
 and Midsize Businesses.
 .
 The application now defaults to being made available on port 5762 and being
 run directly by Starman instead of by Apache. If other access is needed, a
 Reverse Proxy can be configured locally using one of the Nginx packages, and
 this dependency package provides a local proxy configuration using Nginx.

Package: ledgersmb-1.5-lighttpd
Architecture: all
Depends: ledgersmb-1.5 (= ${binary:Version}),
         lighttpd,
         ucf,
         ${misc:Depends}
Enhances: ledgersmb-1.5
Description: financial accounting and ERP program - web proxy via lighttpd
 LedgerSMB is a full featured double-entry financial accounting and Enterprise
 Resource Planning system accessed via a web browser (Perl/SQL backend) which
 offers "Accounts Receivable", "Accounts Payable" and "General Ledger" tracking
 as well as inventory control and fixed assets handling. The LedgerSMB client
 can be a web browser or a programmed API call. The goal of the LedgerSMB
 project is to bring high quality ERP and accounting capabilities to Small
 and Midsize Businesses.
 .
 The application now defaults to being made available on port 5762 and being
 run directly by Starman instead of by Apache. If other access is needed, a
 Reverse Proxy can be configured locally using the lighttpd package, and this
 dependency package provides a local proxy configuration using lighttpd.

Package: ledgersmb-1.5-varnish
Architecture: all
Depends: ledgersmb-1.5 (= ${binary:Version}),
         varnish,
         ucf,
         ${misc:Depends}
Enhances: ledgersmb-1.5
Description: financial accounting and ERP program - web proxy via varnish
 LedgerSMB is a full featured double-entry financial accounting and Enterprise
 Resource Planning system accessed via a web browser (Perl/SQL backend) which
 offers "Accounts Receivable", "Accounts Payable" and "General Ledger" tracking
 as well as inventory control and fixed assets handling. The LedgerSMB client
 can be a web browser or a programmed API call. The goal of the LedgerSMB
 project is to bring high quality ERP and accounting capabilities to Small
 and Midsize Businesses.
 .
 The application now defaults to being made available on port 5762 and being
 run directly by Starman instead of by Apache. If other access is needed, a
 Reverse Proxy can be configured locally using the varnish package, and this
 dependency package provides a local proxy configuration using varnish.
