#!/bin/bash

set -e

. /usr/share/debconf/confmodule

# If this is a new install, then get DB Admin user and password.
# Or also if called with 'reconfigure' instead of 'configure'?
if [[ -z "$2" || "$1" == 'reconfigure' ]] ; then
    db_input high ledgersmb-1.7/admin_login || true
    db_input high ledgersmb-1.7/admin_password || true
    db_go || true
fi

# Explicitly do defconf stop
db_stop

exit 0
