#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high ledgersmb-1.5/debconf_install || true
db_go || true

db_get ledgersmb-1.5/debconf_install
if [ "$RET" = true ];then
    db_input high ledgersmb-1.5/admin_login || true
    db_input high ledgersmb-1.5/admin_password || true
    db_go || true
fi

exit 0
