#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	rm -f Build.PL
	dh_auto_configure

override_dh_auto_test:

override_dh_auto_install:

override_dh_install:
	rm -f blib/lib/install_interactive.pl
	dh_install -XMIT-LICENSE -XGPL.txt

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/lsmb-request.pl
	chmod -x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/bin/gl.pl
	chmod -x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/locale/po/*
	chmod -x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/locale/html/splash.html
	chmod +x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/Reconciliation.pl
	chmod +x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/tools/*.pl
	chmod +x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/tools/*.psgi
	chmod +x debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/tools/system/lsmb*
	find debian/ledgersmb-1.4/usr/share/ledgersmb-1.4 -name '*.sh' -exec chmod +x '{}' \;
	find debian/ledgersmb-1.4/usr/share/ledgersmb-1.4 -name '*.pm' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.4/usr/share/ledgersmb-1.4 -name '*.sql' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/utils -name '*.pl*' -exec chmod +x '{}' \;
	find debian/ledgersmb-1.4/usr/share/ledgersmb-1.4/templates -type d -empty -delete

get-orig-source:
	uscan --force-download --rename --destdir .

.PHONY: get-orig-source

