#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_install:

override_dh_install:
	dh_install -XMIT-LICENSE -XGPL.txt

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/bin/lsmb-request.pl
	chmod -x debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/bin/gl.pl
	chmod -x debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/locale/po/*
	chmod +x debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/tools/*.pl
	chmod +x debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/tools/*.psgi
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5 -name '*.sh' -exec chmod +x '{}' \;
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5 -name '*.html' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5 -name '*.pm' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5 -name '*.sql' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/locale/po -name '*.po' -exec chmod -x '{}' \;
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/utils -name '*.pl*' -exec chmod +x '{}' \;
	find debian/ledgersmb-1.5/usr/share/ledgersmb-1.5/templates -type d -empty -delete

