#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	rm -f Build.PL
	dh_auto_configure

override_dh_auto_test:

override_dh_auto_install:

override_dh_install:
	rm -f blib/lib/install_interactive.pl
	dh_install -XMIT-LICENSE -XGPL.txt

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/ledgersmb/usr/share/ledgersmb/lsmb-request.pl
	chmod -x debian/ledgersmb/usr/share/ledgersmb/bin/gl.pl
	chmod -x debian/ledgersmb/usr/share/ledgersmb/locale/po/*
	chmod -x debian/ledgersmb/usr/share/ledgersmb/locale/html/splash.html
	chmod +x debian/ledgersmb/usr/share/ledgersmb/Reconciliation.pl
	chmod +x debian/ledgersmb/usr/share/ledgersmb/tools/*.pl
	chmod +x debian/ledgersmb/usr/share/ledgersmb/tools/*.psgi
	chmod +x debian/ledgersmb/usr/share/ledgersmb/tools/system/lsmb*
	find debian/ledgersmb/usr/share/ledgersmb -name '*.sh' -exec chmod +x '{}' \;
	find debian/ledgersmb/usr/share/ledgersmb -name '*.pm' -exec chmod -x '{}' \;
	find debian/ledgersmb/usr/share/ledgersmb -name '*.sql' -exec chmod -x '{}' \;
	find debian/ledgersmb/usr/share/ledgersmb/utils -name '*.pl*' -exec chmod +x '{}' \;
	find debian/ledgersmb/usr/share/ledgersmb/templates -type d -empty -delete
	chown -R www-data:www-data debian/ledgersmb/var/lib/ledgersmb

